<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="menu-axelor-developer-tools" title="Developer Tools" order="99" groups="admins"
            icon-background="#1e1e1e" icon="fa-terminal"/>

  <menuitem name="menu-jpql-filters" title="JPQL Filters" parent="menu-axelor-developer-tools"
            action="jpql.filters.all" icon-background="#1e1e1e" icon="fa-search"/>

  <action-view name="jpql.filters.all" title="JPQL Filters" model="com.axelor.apps.devtools.db.JpqlFilter">
    <view type="grid" name="jpql-filter-grid"/>
    <view type="form" name="jpql-filter-form"/>
  </action-view>

  <menuitem name="menu-groovy-scripts" title="Groovy Scripts" parent="menu-axelor-developer-tools"
            action="groovy.scripts.all" icon-background="#1e1e1e" icon="fa-cogs"/>

  <action-view name="groovy.scripts.all" title="Groovy Scripts" model="com.axelor.apps.devtools.db.GroovyScript">
    <view type="grid" name="groovy-script-grid"/>
    <view type="form" name="groovy-script-form"/>
  </action-view>

  <menuitem name="menu-java-class-generator" title="Java Class Generator" parent="menu-axelor-developer-tools"
            action="java.class.generator.all" icon-background="#1e1e1e" icon="fa-code"/>

  <action-view name="java.class.generator.all" title="Java Class Generator"
               model="com.axelor.apps.devtools.db.JavaClassGenerator">
    <view type="form" name="java-class-generator-form"/>
    <view-param name="forceEdit" value="true"/>
  </action-view>

  <menuitem name="menu-meta-field-remover" title="Meta Field Remover" parent="menu-axelor-developer-tools"
            action="meta.field.remover.all" icon-background="#1e1e1e" icon="fa-trash"/>

  <action-view name="meta.field.remover.all" title="Meta Field Remover"
               model="com.axelor.apps.devtools.db.MetaFieldRemover">
    <view type="form" name="meta-field-remover-form"/>
    <view-param name="forceEdit" value="true"/>
  </action-view>

</object-views>